{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ type }}{% if title is not None %} - {{ title }}{% endif %}  - Encyclopedia
{% endblock %}

{% block body %}
    {% if form.errors %}{% for field in form %}{% for error in field.errors %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <div>
            {% if error == 'This field is required.' %}
                {% if field.name == "title" %}Document Title{% elif field.name == "body" %}Document{% else %}{{ field.name.capitalize }}{% endif %} field is required
            {% else %}
                {{ error }}
            {% endif %}
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}{% endfor %}{% endif %}
    <form action="{% if type == 'Edit' %}{% url 'edit-page' title=title %}{% else %}{% url 'new-page' %}{% endif %}" method="POST">
        {% csrf_token %}
        <div class="bold-all-child input-group mb-3">
            <span class="input-group-text">Document Title: </span>
            {{ form.title }}
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save-fill" viewBox="0 0 16 16">
                    <path d="M8.5 1.5A1.5 1.5 0 0 1 10 0h4a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h6c-.314.418-.5.937-.5 1.5v7.793L4.854 6.646a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l3.5-3.5a.5.5 0 0 0-.708-.708L8.5 9.293V1.5z"/>
                </svg>
                Save
            </button>
        </div>
        <div class="input-group">
           {{ form.body }}
        </div>
    </form>
{% endblock %}